WCF/Client/Service References/ServiceReference2/AddTwoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddTwoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddTwoSoapIn">
    <wsdl:part name="parameters" element="tns:AddTwo" />
  </wsdl:message>
  <wsdl:message name="AddTwoSoapOut">
    <wsdl:part name="parameters" element="tns:AddTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="AddTwoServiceSoap">
    <wsdl:operation name="AddTwo">
      <wsdl:input message="tns:AddTwoSoapIn" />
      <wsdl:output message="tns:AddTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddTwoServiceSoap" type="tns:AddTwoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwo">
      <soap:operation soapAction="http://tempuri.org/AddTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddTwoServiceSoap12" type="tns:AddTwoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTwo">
      <soap12:operation soapAction="http://tempuri.org/AddTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddTwoService">
    <wsdl:port name="AddTwoServiceSoap" binding="tns:AddTwoServiceSoap">
      <soap:address location="http://localhost:51685/AddTwoService.asmx" />
    </wsdl:port>
    <wsdl:port name="AddTwoServiceSoap12" binding="tns:AddTwoServiceSoap12">
      <soap12:address location="http://localhost:51685/AddTwoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>