WCF/Client/Service References/SubstractService/SubstractService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubstractTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubstractTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubstractTwoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubstractTwoSoapIn">
    <wsdl:part name="parameters" element="tns:SubstractTwo" />
  </wsdl:message>
  <wsdl:message name="SubstractTwoSoapOut">
    <wsdl:part name="parameters" element="tns:SubstractTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="SubstractServiceSoap">
    <wsdl:operation name="SubstractTwo">
      <wsdl:input message="tns:SubstractTwoSoapIn" />
      <wsdl:output message="tns:SubstractTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubstractServiceSoap" type="tns:SubstractServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubstractTwo">
      <soap:operation soapAction="http://tempuri.org/SubstractTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubstractServiceSoap12" type="tns:SubstractServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubstractTwo">
      <soap12:operation soapAction="http://tempuri.org/SubstractTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubstractService">
    <wsdl:port name="SubstractServiceSoap" binding="tns:SubstractServiceSoap">
      <soap:address location="http://localhost:51685/SubstractService.asmx" />
    </wsdl:port>
    <wsdl:port name="SubstractServiceSoap12" binding="tns:SubstractServiceSoap12">
      <soap12:address location="http://localhost:51685/SubstractService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>