WCF/Client/Service References/WeatherForecast/WeatherForecastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PrintForecast">
        <s:complexType />
      </s:element>
      <s:element name="PrintForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintForecastResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PrintForecastSoapIn">
    <wsdl:part name="parameters" element="tns:PrintForecast" />
  </wsdl:message>
  <wsdl:message name="PrintForecastSoapOut">
    <wsdl:part name="parameters" element="tns:PrintForecastResponse" />
  </wsdl:message>
  <wsdl:portType name="WeatherForecastServiceSoap">
    <wsdl:operation name="PrintForecast">
      <wsdl:input message="tns:PrintForecastSoapIn" />
      <wsdl:output message="tns:PrintForecastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherForecastServiceSoap" type="tns:WeatherForecastServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrintForecast">
      <soap:operation soapAction="http://tempuri.org/PrintForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherForecastServiceSoap12" type="tns:WeatherForecastServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrintForecast">
      <soap12:operation soapAction="http://tempuri.org/PrintForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherForecastService">
    <wsdl:port name="WeatherForecastServiceSoap" binding="tns:WeatherForecastServiceSoap">
      <soap:address location="http://localhost:51685/WeatherForecastService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherForecastServiceSoap12" binding="tns:WeatherForecastServiceSoap12">
      <soap12:address location="http://localhost:51685/WeatherForecastService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>